
body,h1,h5 {
  font-family: "Raleway",
  sans-serif
}

body, html {
  height: 100%
}
.bgimg {
    background-image: url('../img/AdobeStock_154527793_Preview_Editorial_Use_Only.jpeg');
    min-height: 40%;
    background-position: center;
    background-size: cover;
}

#binni_logo{
  width: 30%; /* with this I can resize the logo image.*/
  height: auto;
}